/* line 24, ../sass/screen.scss */
body.wireframe {
  background: url(../img/basegrid.png);
}
/* line 26, ../sass/screen.scss */
body.wireframe #grid-columns {
  position: fixed;
  height: 100%;
  top: 0;
  z-index: -10000;
}
/* line 30, ../sass/screen.scss */
body.wireframe #grid-columns .column {
  margin: 0 0 0 25px;
  width: 125px;
  height: 100%;
  float: left;
  background: rgba(100, 100, 10, 0.1);
}

/* line 41, ../sass/screen.scss */
body {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, "Hiragino Sans GB", serif;
  font-size: 15px;
  line-height: 25px;
}
/* line 46, ../sass/screen.scss */
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, "Hiragino Sans GB", sans-serif;
}
/* line 50, ../sass/screen.scss */
body code, body pre {
  font-family: Monaco, "Lucida Console", monospace;
  font-size: 13px;
}
/* line 55, ../sass/screen.scss */
body del {
  color: #999999;
}
/* line 62, ../sass/screen.scss */
body h1, body h2, body h3, body h4, body h5, body h6,
body hr,
body p, body dl, body ol, body ul,
body pre, body blockquote {
  margin: 25px 0;
}
/* line 65, ../sass/screen.scss */
body dd {
  margin: 0 25px;
}
/* line 68, ../sass/screen.scss */
body blockquote, body dl {
  padding: 0 25px;
}
/* line 71, ../sass/screen.scss */
body ol, body ul {
  padding: 0 50px;
}
/* line 74, ../sass/screen.scss */
body h6 {
  font-size: 15px;
}
/* line 77, ../sass/screen.scss */
body h5 {
  font-size: 17px;
}
/* line 80, ../sass/screen.scss */
body h4 {
  font-size: 19px;
}
/* line 83, ../sass/screen.scss */
body h3 {
  font-size: 21px;
}
/* line 86, ../sass/screen.scss */
body h2 {
  font-size: 23px;
}
/* line 89, ../sass/screen.scss */
body h1 {
  font-size: 25px;
}
/* line 92, ../sass/screen.scss */
body hr {
  height: 1px;
  padding-top: 11.5px;
  padding-bottom: 12.5px;
}
/* line 97, ../sass/screen.scss */
body a {
  color: #003153;
  text-decoration: none;
}
/* line 100, ../sass/screen.scss */
body a:visited {
  color: #666666;
}
/* line 103, ../sass/screen.scss */
body a:hover {
  border-bottom: 1px dotted #333344;
  color: #333344;
}
/* line 108, ../sass/screen.scss */
body img {
  padding: 25px 25px;
  background: #dddddd;
}
/* line 112, ../sass/screen.scss */
body a:hover img {
  background: #999999;
}
/* line 115, ../sass/screen.scss */
body br + a img {
  margin: 25px 0;
}

/* line 169, ../sass/screen.scss */
#container {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: -o-box;
  -o-box-orient: horizontal;
  display: box;
  box-orient: horizontal;
  background: #f2efea;
  background: url(../img/mainbglayer1.jpg) top left no-repeat, url(../img/eggshell.jpg) top left;
  background: url(../img/eggshell.jpg) top left;
}
/* line 175, ../sass/screen.scss */
#container #siteheader {
  width: 150px;
  background: #003153;
  padding-top: 25px;
  background: url(../img/headerbg.jpg) repeat-y center bottom;
}
/* line 180, ../sass/screen.scss */
#container #siteheader #sitename a {
  margin-left: 22px;
  min-height: 270px;
  width: 125px;
  text-indent: -32767px;
  display: block;
  background: url(../img/header.png) no-repeat center bottom;
  -webkit-transition: all 1s ease-out;
  -moz-transition: position 1s ease-out;
  -o-transition: position 1s ease-out;
  transition: position 1s ease-out;
}
/* line 188, ../sass/screen.scss */
#container #siteheader #sitename a:hover {
  height: 350px;
  border: none;
}
/* line 194, ../sass/screen.scss */
#container #main {
  padding: 25px 0 50px 25px;
  width: 925px;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: -o-box;
  -o-box-orient: horizontal;
  display: box;
  box-orient: horizontal;
}
/* line 200, ../sass/screen.scss */
#container #main #blog-toc #qotd {
  width: 575px;
  margin: 50px 0;
  font-size: 37.5px;
  color: #999999;
}
/* line 205, ../sass/screen.scss */
#container #main #blog-toc #qotd.latin {
  font-style: italic;
  font-variant: small-caps;
}
/* line 210, ../sass/screen.scss */
#container #main #blog-toc ul {
  padding-left: 0;
}
/* line 212, ../sass/screen.scss */
#container #main #blog-toc ul li {
  margin: 25px 0;
  height: 25px;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: -o-box;
  -o-box-orient: horizontal;
  display: box;
  box-orient: horizontal;
}
/* line 216, ../sass/screen.scss */
#container #main #blog-toc ul li .postdate {
  font-family: "Hoefler Text", Constantia, Palatino, "Palatino Linotype", "Book Antiqua", Georgia, serif;
  display: inline-block;
  min-width: 125px;
  text-align: right;
  margin-right: 25px;
  font-size: 15px;
  font-style: italic;
  color: #86320d;
}
/* line 226, ../sass/screen.scss */
#container #main #blog-toc ul li .entrylink {
  font-size: 18px;
  max-width: 675px;
  display: block;
}
/* line 230, ../sass/screen.scss */
#container #main #blog-toc ul li .entrylink:hover {
  border: 0;
}
/* line 237, ../sass/screen.scss */
#container #main .entry-info {
  min-height: 75px;
}
/* line 239, ../sass/screen.scss */
#container #main .entry-info .pubdate {
  text-align: right;
  font-family: "Hoefler Text", Constantia, Palatino, "Palatino Linotype", "Book Antiqua", Georgia, serif;
  color: #86320d;
  height: 25px;
  font-style: italic;
  font-size: 18px;
}
/* line 247, ../sass/screen.scss */
#container #main .entry-info .date-year, #container #main .entry-info .date-month, #container #main .entry-info .date-weekday {
  line-height: 1;
  display: block;
  width: 15px !important;
  float: right;
  margin-right: 12.5px;
}
/* line 253, ../sass/screen.scss */
#container #main .entry-info .date-year *, #container #main .entry-info .date-month *, #container #main .entry-info .date-weekday * {
  display: block;
}
/* line 260, ../sass/screen.scss */
#container #main .entry-info .date-month .date-day {
  width: 15px !important;
}
/* line 262, ../sass/screen.scss */
#container #main .entry-info .date-month .date-day .day-name-hidden {
  display: none;
}
/* line 271, ../sass/screen.scss */
#container #main article {
  width: 575px;
  color: #333344;
}
/* line 277, ../sass/screen.scss */
#container #main article h1 a {
  color: #003153;
}
/* line 279, ../sass/screen.scss */
#container #main article h1 a:hover {
  color: #333344;
}
/* line 284, ../sass/screen.scss */
#container #main article .pic-comment {
  display: block;
  font-size: 12px;
  padding-left: 25px;
}
/* line 290, ../sass/screen.scss */
#container #main .footnotes {
  padding: 25px 0 0 50px;
  width: 250px;
}
/* line 293, ../sass/screen.scss */
#container #main .footnotes ol {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-style: italic;
  letter-spacing: -1px;
  color: #999999;
}
/* line 300, ../sass/screen.scss */
#container #main .footnotes ol li {
  padding: 0 0 4px 6px;
  margin: 0 0 4px -6px;
  letter-spacing: 0;
}
/* line 304, ../sass/screen.scss */
#container #main .footnotes ol li div {
  color: #666666;
  font-style: normal;
  font-size: 12px;
  line-height: 20px;
}
/* line 314, ../sass/screen.scss */
#container blockquote {
  padding: 25px 25px;
  background: url(../img/quoteleft.png) top left no-repeat, url(../img/quoteright.png) bottom right no-repeat;
}
/* line 317, ../sass/screen.scss */
#container blockquote > *:first-child {
  margin-top: 0;
}
/* line 320, ../sass/screen.scss */
#container blockquote > *:last-child {
  margin-bottom: 0;
}

/* line 326, ../sass/screen.scss */
footer {
  min-height: 375px;
  background: #003153 url(../img/footerbg.png) top left;
  color: #dddddd;
  padding: 25px 0 25px 175px;
}
/* line 331, ../sass/screen.scss */
footer h2 {
  margin-top: 0;
}
/* line 334, ../sass/screen.scss */
footer nav {
  margin-bottom: 25px;
}
/* line 337, ../sass/screen.scss */
footer nav#blogroll, footer nav#existentials {
  vertical-align: top;
}
/* line 339, ../sass/screen.scss */
footer nav#blogroll ul, footer nav#existentials ul {
  /*
  	border-radius: 5px;
  	-moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
  	box-shadow: 0 1px 0 rgba(255,255,255,0.05);
  	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.05);
  	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.05);
      */
  background: rgba(0, 0, 0, 0.3);
  padding: 25px 25px;
  margin: 0 50px 0 0;
  display: inline-block;
  min-width: 150px;
}
/* line 346, ../sass/screen.scss */
footer nav#blogroll ul li:hover, footer nav#existentials ul li:hover {
  list-style: disc;
}
/* line 350, ../sass/screen.scss */
footer nav#blogroll a, footer nav#existentials a {
  color: #dddddd;
}
/* line 352, ../sass/screen.scss */
footer nav#blogroll a:hover, footer nav#existentials a:hover {
  color: #fff;
}
/* line 358, ../sass/screen.scss */
footer nav#existentials #twitter a {
  background: url("../img/twitterlinkbg.png") top left no-repeat;
  width: 150px;
  height: 50px;
}
/* line 363, ../sass/screen.scss */
footer nav#existentials li a {
  display: block;
  text-indent: -32767;
}
/* line 366, ../sass/screen.scss */
footer nav#existentials li a:hover {
  border: 0;
  background-position: 0 -50px !important;
}
