//basic cell
$gwidth : 25px; //grid cell width
$gheight : 25px; //grid cell height

$ffserif : Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, "Hiragino Sans GB", /* SIGH */serif;
$ffsans : Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, "Hiragino Sans GB", sans-serif;
$ffmono : Monaco, "Lucida Console", monospace;
$ffdatum: "Hoefler Text", Constantia, Palatino, "Palatino Linotype", "Book Antiqua", Georgia, serif;

$bfsize: 15px; //body font size
$fsizeivl : 2px; //font size increment

//text color

$black: #334;
$darkgrey: #333;
$grey: #666;
$lightgrey: #999;
$verylightgrey: #ddd;
$pblue: #003153;
$sbrown: #86320D;


body.wireframe {
  background: url(../img/basegrid.png); 
  #grid-columns{
    position:fixed;
    height:100%;
    top:0;
    .column{
      margin:0 0 0 25px;
      width:125px;
      height:100%;
      float:left;
      background:rgba(100, 100, 10, 0.1);
    }
    z-index:-10000;
  }
}

body{
  font-family: $ffserif;
  font-size:$bfsize;
  line-height:$gheight;

  h1, h2, h3, h4, h5, h6{
    font-family: $ffsans;
  }

  code, pre{
      font-family: $ffmono;
      font-size: $bfsize - $fsizeivl;
  }

  del{
    color:$lightgrey;
  }
  
  h1, h2, h3, h4, h5, h6,
  hr,
  p, dl, ol, ul,
  pre, blockquote{
    margin:$gheight 0; 
  }
  dd{
    margin:0 $gwidth;
  }
  blockquote, dl{
    padding:0 $gwidth;
  }
  ol, ul{
    padding:0 $gwidth * 2;
  }
  h6{
    font-size:$bfsize;
  } 
  h5{
    font-size:$bfsize + $fsizeivl;
  }
  h4{
    font-size:$bfsize + 2 * $fsizeivl;
  }
  h3{
    font-size:$bfsize + 3 * $fsizeivl;
  }
  h2{
    font-size:$bfsize + 4 * $fsizeivl;
  }
  h1{
    font-size:$bfsize + 5 * $fsizeivl;
  }
  hr{
    height:1px;
    padding-top:$gheight / 2 - 1px;
    padding-bottom:$gheight / 2;
  }
  a{
    color:$pblue;
    text-decoration:none;
    &:visited{
      color:$grey;
    }
    &:hover{
      border-bottom: 1px dotted $black;
      color:$black;
    }
  }
  img{
    padding: $gheight $gwidth;
    background: $verylightgrey;
  }
  a:hover img{
    background: $lightgrey;
  }
  br + a img{
    margin:$gheight 0;
  }
}
@mixin flexbox{
  display: -webkit-box;
  -webkit-box-orient: horizontal;

  display: -moz-box;
  -moz-box-orient: horizontal;

  display: -o-box;
  -o-box-orient: horizontal;

  display: box;
  box-orient: horizontal;
}

@mixin transition-position{
  -webkit-transition:all 1s ease-out;
  -moz-transition:position 1s ease-out;
  -o-transition:position 1s ease-out;
  transition:position 1s ease-out;
}

@mixin roundborderbox{
/*
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0 1px 0 rgba(255,255,255,0.05);
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.05);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.05);
    */
}

@mixin transblack{
  background:rgba(0,0,0,0.3);
}
@mixin bggradient{
  background-image: linear-gradient(bottom, rgb(0,0,0) 0%, rgb(0,48,83) 80%, rgb(0,48,83) 100%);
  background-image: -o-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(0,48,83) 80%, rgb(0,48,83) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(0,48,83) 80%, rgb(0,48,83) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(0,48,83) 80%, rgb(0,48,83) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(0,48,83) 80%, rgb(0,48,83) 100%);

  background-image: -webkit-gradient(
    linear, left bottom, left top,
    color-stop(0, rgb(0,0,0)),
    color-stop(0.8, rgb(0,48,83)),
    color-stop(1, rgb(0,48,83))
  );
}

#container {
  @include flexbox;
  background:#f2efea ;
  background:url(../img/mainbglayer1.jpg) top left no-repeat, url(../img/eggshell.jpg) top left;
  background: url(../img/eggshell.jpg) top left;

  #siteheader{
    width: $gwidth * (5 + 1);
    background: $pblue;
    padding-top: $gheight;
    background:url(../img/headerbg.jpg) repeat-y center bottom;
    #sitename a{
      margin-left:$gwidth - 3px;
      min-height:270px;
      width:125px;
      text-indent:-32767px;
      display:block;
      background:url(../img/header.png) no-repeat center bottom;
      @include transition-position;
      &:hover{
        height:350px;
        border:none;
      }
    }
  }
  #main{
    padding:$gheight 0 $gheight * 2 $gwidth;
    width:($gwidth * 5 * 6) + ($gwidth * 7);
    @include flexbox;

    #blog-toc{
      #qotd{
        width: ($gwidth * 5 * 4) + ($gwidth * 3);
        margin:$gheight * 2 0;
        font-size: $bfsize * 2.5;
        color: $lightgrey;
        &.latin{
          font-style: italic;
          font-variant:small-caps;
        }
      }
      ul{
        padding-left:0;
        li{
          margin: $gheight 0;
          height: $gheight;
          @include flexbox;
          .postdate{
            font-family:$ffdatum;
            display:inline-block;
            min-width:$gwidth * 5;
            text-align:right;
            margin-right:$gwidth;
            font-size: $bfsize;
            font-style: italic;
            color:$sbrown;
          }
          .entrylink{
            font-size: $bfsize * 1.2;
            max-width:($gwidth * 5 * 4) + ($gwidth * 7);
            display:block;
            &:hover{
              border:0;
            }
          }
        }
      }      
    }
  .entry-info{
      min-height: $bfsize * 5;
      .pubdate{
        text-align:right;
        font-family:$ffdatum;
        color:$sbrown;
        height:$gheight;
        font-style:italic;
        font-size: $bfsize * 1.2;
      }
      .date-year, .date-month, .date-weekday{
        line-height:1;
        display:block;
        width:$bfsize !important;
        float:right;
        margin-right:$gwidth / 2;
        *{
          display:block;
        }
      }
      .date-year{
      }
      .date-month{
        .date-day{
          width: $bfsize !important;
          .day-name-hidden{
            display:none;
          }
        }
      }
      .date-weekday{
      } 
    }//entry-info

  article{
    //margin-top: $gheight;
    $borderw: 1px solid #666;
    width: ($gwidth * 5 * 4) + ($gwidth * 3);
    color: $black;
    h1{
      a{
        color:$pblue;
        &:hover{
          color:$black;
        }
      }
    }
    .pic-comment{
      display:block;
      font-size:$bfsize * 0.8;
      padding-left:$gwidth;
    }
  }//article
  .footnotes{
    padding:$gheight 0 0 $gwidth * 2;
    width: $gwidth * 5 * 2;
    ol{
      padding:0;
      margin:0;
      font-size: $bfsize * 1.2;
      font-style: italic;
      letter-spacing:-1px;
      color: $lightgrey;
      li{
        padding:0 0 4px 6px;
        margin:0 0 4px -6px;
        letter-spacing:0;
        div{
          color: $grey;
          font-style: normal;
          font-size: $bfsize * 0.8;
          line-height: $gheight * 0.8;
        }
      }
    }  
  }
  }//main
  blockquote{
    padding: $gheight $gwidth;
    background:url(../img/quoteleft.png) top left no-repeat, url(../img/quoteright.png) bottom right no-repeat;
    &>*:first-child{
      margin-top:0;
    }
    &>*:last-child{
      margin-bottom:0;
    }
  }
}//container

footer{
  min-height:$gheight * 15;
  background:$pblue url(../img/footerbg.png) top left;
  color: $verylightgrey;
  padding:$gheight 0 $gheight $gwidth * 7;
  h2{
    margin-top:0;
  }
  nav{
    margin-bottom: $gheight;
  }
  nav#blogroll, nav#existentials{
    vertical-align:top;
    ul{
      @include roundborderbox;
      @include transblack;
      padding:$gheight $gwidth;
      margin:0 $gwidth * 2 0 0;
      display:inline-block;
      min-width:150px;
      li:hover{
        list-style:disc;
      }
    }
    a{
      color:$verylightgrey;
      &:hover{
        color:#fff;
      }
    }
  }
  nav#existentials{
    #twitter a{
      background:url('../img/twitterlinkbg.png') top left no-repeat;
      width:$gwidth * 6;
      height:$gheight * 2;
    }
    li a{
      display:block;
      text-indent:-32767;
      &:hover{
        border:0;
        background-position:0 -50px !important;
      }
    }
  }
}
