//basic cell
$gwidth : 25px; //grid cell width
$gheight : 25px; //grid cell height

$ffserif : Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
$ffsans : Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, "Hiragino Sans GB", sans-serif;
$ffmono : Monaco, "Lucida Console", monospace;

$bfsize: 15px; //body font size
$fsizeivl : 2px; //font size increment

//text color

$black: #113;
$darkgrey: #333;
$grey: #666;
$lightgrey: #999;
$verylightgrey: #ddd;
$pblue: #003153;

body.wireframe {
  background: url(../img/basegrid.png); 
  #grid-columns{
    position:fixed;
    height:100%;
    top:0;
    .column{
      margin:0 0 0 25px;
      width:125px;
      height:100%;
      float:left;
      background:rgba(100, 100, 10, 0.1);
    }
    z-index:-10000;
  }
}

body{
  font-family: $ffserif;
  font-size:$bfsize;
  line-height:$gheight;

  h1, h2, h3, h4, h5, h6{
    font-family: $ffsans;
  }

  code, pre{
      font-family: $ffmono;
      font-size: $bfsize - $fsizeivl;
  }
  
  h1, h2, h3, h4, h5, h6,
  hr,
  p, dl, ol, ul,
  pre, blockquote{
    margin:$gheight 0; 
  }
  dd{
    margin:0 $gwidth;
  }
  blockquote, dl{
    padding:0 $gwidth;
  }
  ol, ul{
    padding:0 $gwidth * 2;
  }
  h6{
    font-size:$bfsize;
  } 
  h5{
    font-size:$bfsize + $fsizeivl;
  }
  h4{
    font-size:$bfsize + 2 * $fsizeivl;
  }
  h3{
    font-size:$bfsize + 3 * $fsizeivl;
  }
  h2{
    font-size:$bfsize + 4 * $fsizeivl;
  }
  h1{
    font-size:$bfsize + 5 * $fsizeivl;
  }
  hr{
    height:1px;
    padding-top:$gheight / 2 - 1px;
    padding-bottom:$gheight / 2;
  }
  a{
    color:$pblue;
    text-decoration:none;
    &:visited{
      color:$grey;
    }
    &:hover{
      border-bottom: 1px dotted $black;
      color:$black;
    }
  }
  img{
    padding: $gheight $gwidth;
    background: $verylightgrey;
  }
  a:hover img{
    background: $lightgrey;
  }
  br + a img{
    margin:$gheight 0;
  }
}
@mixin flexbox{
  display: -webkit-box;
  -webkit-box-orient: horizontal;

  display: -moz-box;
  -moz-box-orient: horizontal;

  display: -o-box;
  -o-box-orient: horizontal;

  display: box;
  box-orient: horizontal;
}
#container {
  @include flexbox;
  #siteheader{
    width: $gwidth * (5 + 1);
    background: $pblue;
    padding-top: $gheight;
    #sitename a{
      margin-left:$gwidth - 3px;
      min-height:446px;
      width:55px;
      text-indent:-32767px;
      display:block;
      background:url(../img/header.png) no-repeat;
    }
  }
  #main{
  padding:$gheight 0 $gheight * 2 $gwidth;
  width:($gwidth * 5 * 6) + ($gwidth * 7);
  @include flexbox;

  #blog-toc{
    width: ($gwidth * 5 * 4) + ($gwidth * 3);
    #qotd{
      font-size: $bfsize * 2;
      &.latin{
        font-style: italic;
        font-variant: small-caps;
      }
    }
    ul{
      padding-left:0;
      li{
        margin: $gheight 0;
        height: $gheight;
        .postdate{
          display:inline-block;
          min-width:$gwidth * 5;
          text-align:right;
          margin-right:$gwidth;
          font-size: $bfsize * 0.8;
          font-style: italic;
          color: $lightgrey;
        }
        .entrylink{
          font-size: $bfsize * 1.2;
        }
      }
    }      
  }
  .entry-info{
      display:none;
      width: $gwidth * 5 - 1px;
      min-height: $bfsize * 5;
      padding: $gheight 0;
      margin-left: - ($gwidth * 6);
      .date-year, .date-month, .date-weekday{
        line-height:1;
        display:block;
        width:$bfsize !important;
        float:right;
        margin-right:$gwidth / 2;
        *{
          display:block;
        }
      }
      .date-year{
      }
      .date-month{
        .date-day{
          width: $bfsize !important;
          .day-name-hidden{
            display:none;
          }
        }
      }
      .date-weekday{
      } 
    }//entry-info

  article{
    //margin-top: $gheight;
    $borderw: 1px solid #666;
    width: ($gwidth * 5 * 4) + ($gwidth * 3);
    color: $black;
    h1{
      a{
        color:$pblue;
        &:hover{
          color:$black;
        }
      }
    }
  }//article
  .footnotes{
    padding:$gheight 0 0 $gwidth * 2;
    width: $gwidth * 5 * 2;
    ol{
      padding:0;
      margin:0;
      font-size: $bfsize * 1.2;
      font-style: italic;
      letter-spacing:-1px;
      color: $lightgrey;
      li{
        padding:0 0 4px 6px;
        margin:0 0 4px -6px;
        letter-spacing:0;
        div{
          color: $grey;
          font-style: normal;
          font-size: $bfsize * 0.8;
          line-height: $gheight * 0.8;
        }
      }
    }  
  }
  }//main
  blockquote{
    padding: $gheight $gwidth;
    background:url(../img/quoteleft.png) top left no-repeat, url(../img/quoteright.png) bottom right no-repeat;
    &>*:first-child{
      margin-top:0;
    }
    &>*:last-child{
      margin-bottom:0;
    }
  }
}//container

footer{
  min-height:$gheight * 15;
  background:$pblue;
  color: $verylightgrey;
  padding:$gheight 0 $gheight $gwidth * 7;
  h2{
    margin-top:0;
  }
}
