<nav id="existentials">
  <h2>Existentials</h2>
  <ul>
    <li id="github"><a href="https://github.com/metaphox">github</a></li>
    <li id="flickr"><a href="http://www.flickr.com/photos/lonelyfox/">flickr</a></li>
    <li id="twitter"><a href="https://twitter.com/#!/metaphox">twitter</a></li>
    <li id="facebook"><a href="http://www.facebook.com/metaphox">facebook</a></li>
    <li id="linkedin"><a href="http://www.linkedin.com/pub/tao-wu/20/296/930">linkedin</a></li>
  </ul>
</nav>
<nav id="blogroll">
  <h2>Blogroll</h2>
  <ul id="group1">
    <li><a href="http://wondermore.blogspot.com/" rel="friend met" title="a.k.a. did">wonderfulmore</a></li>
    <li><a href="http://zixiaoshu.spaces.live.com/" rel="friend met" title="亮子">北京人在悉尼</a></li>
    <li><a href="http://sukie_zhao.blog.tianya.cn" rel="fiend met" title="为晴雪所洗">sukie赵</a></li>
    <li><a href="http://www.cjpanda.com/life/" rel="friend met" title="the CJ.">cjPanda</a></li>
    <li><a href="http://biantaishabi.com/blog/" rel="friend" title="变态傻逼">btsb</a></li>
    <li><a href="http://hsiaoweichan.blogspot.com/" rel="" title="friend met">vivian</a></li>
    <li><a href="http://cityyoho.blogbus.com/" rel="friend met" title="灭绝">cityyoho</a></li>
  </ul><ul id="group2">
    <li><a href="http://weblog.bororo.org/" rel="acquaintance" >maple</a></li>
    <li><a href="http://tianjintianjin.yculblog.com/" rel="friend met" title="猜错的大多数">tulip</a></li>
    <li><a href="http://tankliang.blogbus.com/" rel="friend" >坦克梁</a></li>
    <li><a href="http://hi.baidu.com/stone9" rel="friend" title="goddamner">stone</a></li>
    <li><a href="http://hi.baidu.com/pavements84" rel="friend met" title="老妹">pavements</a></li>
    <li><a href="http://blog.sinzy.net/changke" rel="friend met" title="天魔的家">问号鱼</a></li>
    <li><a href="http://gilbertbeilschmidt.blog124.fc2.com/" rel="friend" title="小章鱼">Schlaraffenland</a></li>
  </ul><ul id="group3">
    <li><a href="http://www.post-concrete.com/blog/" rel="friend" title="Institute of East Asiatic Venomology">東亞毒液學研究所</a></li>
    <li><a href="http://asukashinjirei.blogbus.com/" rel="friend" title="杨不风">草木贲华</a></li>
    <li><a href="http://www.upshine.net/blog/" rel="friend met" title="Rex">三楼的卡西欧计算器</a></li>
    <li><a href="http://kornephoros.de/" rel="friend" title="天市右垣一">追忆吹水年华</a></li>
    <li><a href="http://k1oe.me/" rel="friend" title="Chloe">bad habits die hard</a></li>
    <li><a href="http://howlongisnow.com/" rel="friend" title="大头怪阿姨">多说无益</a></li>
    <li><a href="http://lawrence.li/blog/" rel="friend" title="Lawrence Li">一天世界</a></li>
    <li><a href="http://blog.doigoi.com/" rel="friend" title="橙">得果德语</a></li>
  </ul>
</nav><!--/#blogroll-->
