<!doctype html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title | escape }} | Metamorphosis</title>
  <meta name="description" content="Metaphox's personal blog">
  <meta name="author" content="Metaphox">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/screen.css">
  <link rel="alternate" type="application/rss+xml" title="Metamorphosis" href="/feed.rss">
</head>
<body>
  <div id="container">
    <header id="siteheader">
      <div id="sitename"><a href="/">Metamorphosis</a></div>
      <div id="feed"><a href="/feed.rss">RSS feed</a></div>
    </header>
    <main id="main">
      {{ content }}
    </main>
  </div>
</body>
</html>
