---
layout: default
---
<div id="wrapper">
<article>
  <h1><a href="{{ page.url }}">{{ page.title | escape }}</a></h1>
  {{ content }}
  <hr />
</article>
<aside class="entry-info">
  <div class="pubdate">published {{ page.date | date_to_string }}</div>
  <div id="disqus_thread"></div>
  {% unless page.nocomments %}
    <script type="text/javascript">
    var disqus_config = function() {
        this.page.url = {{ page.slug | prepend: "http://blog.metaphox.com/post/" | jsonify }};
    };
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'https://metaphoxite.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
    </script>
  {% endunless %}
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</aside>
</div>
